<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davide.myfinance" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddExpenseActivity"
            android:label="@string/title_activity_add_expense"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter android:label="addexpense">
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="example" android:host="task"
                    android:pathPrefix="/myfinance" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewExpenseActivity"
            android:label="@string/title_activity_edit_expense"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.EditExpenseActivity"
            android:label="@string/title_activity_edit_expense"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewExpenseActivity">
        </activity>
    </application>

</manifest>
